@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

body{
    width: 96vw;
    font-family: "Manrope", sans-serif;
    background-color: black;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
}

ul{
    display: flex;
    color: white;
    font-size: 14px;
}

li{
    list-style-type: none;
    margin: 32.43px;
    cursor: pointer;
}

#logo{
    display: flex;
    margin-right: 150px;
    cursor: pointer;
}

button{
    width: 172px;
    height: 37px;
    border: 1px solid #8257E5;
    border-radius: 6px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 150px;
    font-size: 11px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(17, 17, 17);
}

#titles{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -50px;
}

#title1{
    color: white;
    font-size: 60px;
}

#title2{
    font-size: 60px;
    -webkit-text-stroke: 0.1px #8257E5;
    -webkit-text-fill-color: transparent;
    display: flex;
    margin-top: -55px;
    border: 5px solid #8257E5;
}

#foto{
    display: flex;
    align-items: center;
    justify-content: center;
}

#coffee{
    display: flex;
    margin-top: 220px;
    position: absolute;

}

#imagens{
    display: flex;
    justify-content: space-between;
    position: absolute;
}

#imagem1{
    display: flex;
    margin-bottom: -125px;
}

#imagem2{
    display: flex;
    margin-right: 0px;
}
