@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body{
    font-family: "Montserrat", sans-serif;
    background-color: rgb(208, 212, 214);
}

div{
    display: flex;
    margin: 20px;
    padding: 17px;
    cursor: pointer;
}

header{
    height: 10vh;
    display: flex;
    margin: 20px;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 15px;
    box-shadow: 2 2 1rem black;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

li{
    list-style-type: none;
    cursor: pointer;
    padding-left: 3rem;
    padding: 17px;
}

button{
    display: flex;
    margin: 20px;
    background-color: rgb(73, 32, 125);
    justify-content: center;
    align-items: center;
    color: white;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
}
